<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <H1>Ataccama task 1</H1>
    <H2>Administration for db connections</H2>
    <a type="button" class="btn btn-success" href="/list-db-config">Show list of DB configurations</a>

    <br><br>
    <a href="task-info.pdf" target="_blank">Show task description in PDF file</a>
</div></body>
</html>