<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Administration for db connections</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <H1>Ataccama task 1</H1>
    <H2>Administration for db connections</H2>
    <a type="button" class="btn btn-success" href="/list-db-config">Show list of DB configurations</a>
</div>
<br>
<div class="container">
    <H3>Insert all information about your DB</H3>
    <form action="#" th:action="@{/list-db-update}" th:object="${dbconfig}" method="post">
        <table>
            <tr>
                <td>Name: </td>
                <td><input type="text" th:field="*{name}" required="true"/></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>Hostname:</td>
                <td><input type="text" th:field="*{hostname}" required="true"/></td>
                <td th:if="${#fields.hasErrors('hostname')}" th:errors="*{hostname}">Hostname Error</td>
            </tr>
            <tr>
                <td>Port:</td>
                <td><input type="number" th:field="*{port}" required="true"/></td>
                <td th:if="${#fields.hasErrors('port')}" th:errors="*{port}">Port Error</td>
            </tr>
            <tr>
                <td>Database name:</td>
                <td><input type="text" th:field="*{databaseName}" required="true"/></td>
            </tr>
            <tr>
                <td>User name:</td>
                <td><input type="text" th:field="*{username}" required="true"/></td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" th:field="*{password}" /></td>
            </tr>
        </table>
        <br>
        <input type="hidden" th:field="*{id}"/>
        <p><input class="btn btn-success" type="submit" value="Save" /> <input class="btn btn-secondary" type="reset" value="Reset" /></p>
    </form>
</div>
</body>
</html>