<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administration for db connections</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <H1>Ataccama task 1</H1>
    <H2>Administration for db connections</H2>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Hostname</th>
            <th>Port</th>
            <th>Database name</th>
            <th>user name</th>
            <th>password</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="configItem : ${dbconfigs}">
                <td bgcolor="#5f9ea0"><span class="font-italic" th:text="${configItem.id}"> id </span></td>
                <td><span th:text="${configItem.name}"> Name </span></td>
                <td><span th:text="${configItem.hostname}"> Hostname </span></td>
                <td><span th:text="${configItem.port}"> Port </span></td>
                <td><span th:text="${configItem.databaseName}"> DatabaseName </span></td>
                <td><span th:text="${configItem.username}"> userName </span></td>
                <td><span th:text="${configItem.password}"> password </span></td>
                <td><a type="button" class="btn btn-success" th:href="'/list-db-update?id=' + ${configItem.id}">Update</a></td>
                <td><a type="button" class="btn btn-danger" th:href="'/list-db-delete?id=' + ${configItem.id}">Delete</a></td>
<!--                TODO: Delete process should be updated with confiration process-->
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <a type="button" class="btn btn-success" href="/list-db-add">Add new db configuration</a>
</div>


</body>
</html>